{% extends 'Capuchino/padre.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_usuarios.css' %}
{% endblock%}

{% block pestaña %}
Clientes
{% endblock %}

{% block titulo %}
<h1 style="color:blueviolet"> Bienvenidos queidos clientes </h1>
{% endblock %}

{% block contenido_2 %}
<h2 style='background-color:#03baa7;' align="center">¿Quieres contarnos sobre tu experiencia?</h2>
<h3>Hazlo aqui:</h3>
<form action="{% url 'cliente' %}" method="POST"> {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Guardar">
</form>
<h4 style="color:green"> {{ mensaje }} </h4>
{% endblock %}