{% extends 'Capuchino/padre.html' %}
{% load static %}

{% block edit %}
{% static 'Capuchino/css/styles_recetas.css' %}
{% endblock%}

{% block pestaña %}
Recetas
{% endblock %}

{% block titulo %}
<h1 style="color:whitesmoke"> <u>RECETARIO</u></h1>
{% endblock %}

{% block contenido_2 %}
<h2 style='background-color:#03baa7;' align="center">¿Quieres compartir tu receta?</h2>
<h3>Hazlo aqui:</h3>
<form action="{% url 'receta' %}" method="POST"> {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Guardar">
</form>
<br>
<hr>
<a class="btn btn-primary" href={% url 'buscarReceta' %} >Buscar receta</a>
<h4 style="color:green"> {{ mensaje }} </h4>
{% endblock %}