{% extends 'Capuchino/padre.html' %}
{% load static %}

{% block pestaña %}
Restaurants
{% endblock %}

{% block titulo %}
<h1 style="color:blueviolet"> Restaurats </h1>
{% endblock %}

{% block contenido_2 %}
<h2 style='background-color:#03baa7;'>¿Desea inscribir su restaurant en nuestra WEB?</h2>
<h3>Hagalo aqui:</h3>
<form action="{% url 'restaurant' %}" method="POST"> {% csrf_token %}

    <table>
        {{ form.as_table }}
    </table>

    <input type="submit" value="Guardar">
</form>
{{ mensaje }}
{% endblock %}